h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1.1em;
}

h4, h5, h6 {
    font-size: 1em;
}


.text-crop {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.audio-container {
    background-color: whitesmoke;
    border-radius: 5px;
    padding:    5px;
    margin:     1px;
}
